
{% extends 'todoapp/frontend/app/app.html' %}
{% comment %}{% load static %}{% endcomment %}
{% block title %}
  imteaj main
{% endblock %}

{% block main %}
<div class="table-responsive">
  <table class="table table-primary">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col"> slug</th>
        <th scope="col">Dicreption</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for datas in data %}
      <tr class="">
        <td scope="row">{{ datas.title}}</td>
        <td>{{ datas.title}}</td>
        <td>{{ datas.title}}</td>
        {% comment %}<td><a name="" id="" class="btn btn-danger" href="{% url 'edit',datas.id %}" role="button">edit</a></td>{% endcomment %}
      </tr>
      {% endfor %}
        
  </table>
</div>



{% endblock %}
